@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');


* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body{
    width:960px;
    margin:auto;
}
#photo-template {
    display: none;
}
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
div {
    width: 250px;
    display: flex;
    flex-direction: column;
}

div img {
    width:90%;
}
